<div class="main-header">
  <div class="header-menu">
    <div class="logo">
      <a routerLink="/">
        <img src="home.svg" alt="Home" />
      </a>
    </div>
    <div class="menu-items">
      <a routerLink="/about-me" routerLinkActive="active">About Me</a>
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a routerLink="/services" routerLinkActive="active">Services</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </div>
</div>
